<div class="card" style="width: 80rem;">

  <div class="card-body">
    <div class="card-header">
      <h5 class="card-title">{{title}}</h5>
      <p>Created On: {{format_date created_date}}</p>
    </div>
    <p class="card-text">CONTENT: {{content}}</p>
    <p class="card-text">SUMMARY: {{summary}}</p>
  </div>
  {{#if postcomments.length}}
    <h3>COMMENTS</h3>
    {{#each postcomments as |postcomment|}}
      <ul class="list-group list-group-flush">
        <li class="list-group-item">{{postcomment.user.fname}}
          {{postcomment.user.lname}}::{{postcomment.content}}</li>

      </ul>
    {{/each}}
  {{/if}}

</div>

<div class="container container-fluid mt-5">

  <div class="card text-right">
    <div class="card-header">
      <div class="row justify-space-between p-4">
        <h5 class="card-title text-center">COMMENT</h5>

      </div>
    </div>

    <div class="card-body">
      <div class="row">

        <div class="col col-md-12 text-right">
          <form class="form signup-form">
            <div class="form-group">
              <label for="name-signup"></label>
              <input class="form-input" type="text" id="name-signup" />
            </div>
            <div>
              <div id="pickId" data-id1="{{id}}" data-id2="{{user.id}}"></div>

            </div>
            <div class="form-group text-center">
              <button class="btn btn-primary" type="submit">Post Comment</button>
            </div>
          </form>

        </div>
      </div>
    </div>
    <div class="card-footer text-muted text-right">
      <p>posted by :
        {{user.fname}}</p>
      <p>posted on
        {{format_date created_date}}
      </p>
    </div>
  </div>

</div>

<script src="../js/postcomment.js"></script>