{{#each Blogposts as |blogpost|}}
  <div class="card text-right">
    <div class="card-header">
      <div class="row justify-space-between p-4">
        <h5 class="card-title">{{blogpost.title}}</h5>
        <p>Created On: {{format_date created_date}}</p>

      </div>
    </div>

    <div class="card-body">
      <div class="row">
        <div class="col col-md-3">
          <h5 class="card-title text-left">{{blogpost.title}}</h5>

        </div>
        <div class="col col-md-3 text-right">
          <p class="card-text">{{blogpost.summary}}</p>
          <p>Created by : {{blogpost.user.fname}}</p>

        </div>
      </div>
    </div>
    <div class="card-footer text-muted text-center">
      <a href="/blogpost/{{blogpost.id}}" class="btn btn-primary">Visit Blog</a>
    </div>
  </div>
{{/each}}